@charset "utf-8";
/****** 新闻详情样式 ******/
.newsMain{
  width: 1170px;
  margin: 0 auto;
}
.newsSection{
  padding: 20px 0;
  font-size: 14px;
  color: #A6A9AC;
}
.newsContent{
  display: flex;
  margin: 10px 0;
}
.newsContentLeft{
  padding-right: 20px;
}
.newsContentLeft p{
  width: 760px;
}
.newsTitle{
  position: relative;
  width: 760px;
}
.newsTitleH1{
  line-height: 1;
  margin:0 235px 16px 0;
  font-size: 32px;
  font-weight: bold;
}
.newsTitleSpan{
  position: absolute;
  right: 10px;
  top: 10px;
}
.newsTitleSpan span{
  padding: 6px 12px;
  color: #5580F7;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #5580F7;
  font-size: 14px;
}
.newsDetail p{
  margin-bottom: 20px;
}
.newsDetail img{
  margin-bottom: 20px;
  border: 1px dashed #A6A9AC;;
}
.hotSpan{
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 15px;
  background-color: #a6a9ac;
  border-radius: 3px;
}
.recommended{
  padding-left: 10px;
  border-left: 1px dashed #A6A9AC;
}
.sameAll{
  width: 50%;
}